node_modules
*.log
*.aes
cypress/screenshots
cypress/videos
cypress/logs
cypress/fixtures/profile.json
cypress/fixtures/users.json
.history
.vscode
env
.env
.DS_Store
reports/results/*.json
reports/screenshots/*.*
cypress/results/**/*.*